@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap");

@import "./styles/styles.css";
@import "./styles/PaginaPrincipal.css";
@import "./styles/Admin.css";
@import "./styles/Vendedor.css";
